
*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(132deg, rgb(221, 221, 221) 63.13%, rgb(110, 136, 161) 100.00%);
}
.container{
    border: 1px solid black;
    border-style: hidden;
    width: 40%;
    margin: 200px 500px;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 40px;
    align-content: center;
    background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% );
}
.btn{
    background-color:slategray;
    width: 15%;
    border-radius: 10px;
}

input[type="text"]{
    height: 10%;
    border-radius: 5px;
}
input[type="date"]{
    height: 10%;
    border-radius: 5px;
}
input[type="email"]{
    height: 10%;
    border-radius: 5px;
}